{% extends 'trombi/main.html' %}

{% block pagetitle %}Modifier mes réseaux | {% endblock %}
{% block title %}» <a href="{% url trombi:trombi %}">Trombi</a> » <a href="{% url trombi:profile %}">Mon profil</a> » <span class="here">Réseaux</span>{% endblock %}

{% block content %}
<h2>Modifier mes réseaux</h2>
<form method="post" action="{% url trombi:edit_profile_networks %}">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Enregistrer"> | <a href="{% url trombi:profile %}">Annuler</a>
</form>

{% endblock %} 
