{% extends 'trombi/main.html' %}

{% block pagetitle %}Edit your School info | {% endblock %}
{% block title %}» <a href="{% url trombi:trombi %}">Trombi</a> » <a href="{% url trombi:profile %}">Your profile</a> » <span class="here">School</span>{% endblock %}

{% block content %}
<h2>Edit your networks</h2>
<form method="post" action="{% url trombi:edit_profile_school %}">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Save"> | <a href="{% url trombi:profile %}">Cancel</a>
</form>

{% endblock %} 
