{% extends 'trombi/main.html' %}

{% block pagetitle %}Modifier mon profil | {% endblock %}
{% block title %}» <a href="{% url trombi:trombi %}">Trombi</a> » <a href="{% url trombi:profile %}">Mon profil</a> » <span class="here">Modifier</span>{% endblock %}

{% block extrahead %}
{% endblock %} 

{% block content %}
<h2>Modifier mon profil</h2>
<form method="post" action="{% url trombi:edit_profile %}">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Enregistrer"> | <a href="{% url trombi:profile %}">Annuler</a>
</form>

{% endblock %} 
