{% extends 'layout/base.html' %}

{% block pagetitle %}
Trombinoscope |
{% endblock %}

{% block title %}
» <span class="here">Trombi</span>
{% endblock %}

{% block content %}

<h2>Trombinoscope</h2>

<div class="row">
	<div class="column grid_5">
		<h3>Promos</h3>
		<ul>
			{% for p in promos %}
			<li><a href="{% url trombi:promo p.promo %}">Promo {{ p.promo }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="column grid_5">
		<div class="row">
			<div class="column grid_5">
				<div class="action">
					<!-- searchform here -->
					<h3>Rechercher</h3>
					<form method="get" action="{% url trombi:search %}" id="searchform">
						<input type="text" name="q" id="id_q" accesskey="f"
						value="Nom, prénom, login"
						onfocus="if(this.value==this.defaultValue) this.value='';"
						onblur="if(this.value=='') this.value=this.defaultValue;" />
						<input type="submit" value="Rechercher">
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column grid_5">
				<div class="action">
					<a href="{% url trombi:profile %}">Mon profil</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %} 
