/* Common html tags */
html {
	margin: 0;
	padding: 0;
	background-color: #1d2a5b;
}

body {
	margin: 0;
	background-color: #fff;
	font: 12px/1.5 Arial, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	margin: 0; padding: 0;
}

form td { /* help text */
	font-size: 0.8em;
	color: #aaa;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #2361ba;
}

a:hover {
	background-color: #2361ba;
	color: #fff;
}

p { margin: 0; padding: 0; }

.center { text-align: center; }
p.right { float: right; }

tr {
	text-align: left;
	vertical-align: top;
}

blockquote {
	margin: 10px 15px;
	padding: 0 0 0 25px;
	font: bold 1.3em/1.5em "Trebuchet MS", Tahoma, arial, Sans-serif;
	color: #2361ba;
	border: 1px solid #E5F0FB;
	background-color: #F4F8FD;
}

ul { list-style-type: none; }

/* Useful classes */
.clear { clear: both; }

/* Header */
#header {
	height: 70px;
	padding: 0 10%;
	border-bottom: 4px solid #7d9ec0;
}
h1 {
	font: Bold 45px 'Trebuchet MS', Helvetica, sans-serif;
	letter-spacing: -2px;
	margin: 0;
}

h1 a { color: #000; }
h1 a:hover { background-color: #fff; color: #000; }
h2 a:hover { background: none; color: #b02b2c; }
h2 a { color: #b02b2c; display: block; }
.summary_even h2 a { color: #d15600; }

.logo { color: #66f; }
.beta { color: #f22; font-size: 0.3em; margin-left: 0.5em; font-weight: normal;  letter-spacing: -1px; }

.sub {
	color: #888;
	margin: 0 4em;
}

/* Connection bar */
#connect {
	position: absolute;
	padding: 3px 6px;
	top: 45px;
	right: 10%;
	color: #886;
	background-color: #fea;
	border: 1px solid #dc8;
	border-bottom: none;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
#connect a { color: #b96; padding: 3px; }
#connect a:hover { background: inherit; text-decoration: underline; }
#connect a.profile { padding-left:18px; background:url('../icons/user.png') 0 2px no-repeat; }
#connect a.login { padding-left:18px; background:url('../icons/connect.png') 0 2px no-repeat; }
#connect a.logout { padding-left:18px; background:url('../icons/disconnect.png') 0 2px no-repeat; }

/* Navigation menu */
#navbar {
	background-color: #555;
	padding: 0 10%;
	font-size: 1.1em;
	border-bottom: 3px solid #69a74e;
}
#navbar ul, #navbar li { margin: 0; padding: 0; }
#navbar ul {
	height: 30px;
	padding: 10px 0;
}
#navbar li {
	float: left;
	border-left: 1px solid #444;
	border-right: 1px solid #666;
	padding: 0 1em;
}
#navbar li:first-child { border-left: none; }
#navbar li:last-child { border-right: none; }
#navbar a {
	display: block;
	color: #fff;
	padding: 5px 10px 10px 10px;
}
#navbar a:hover {
	color: #ddd;
	background: inherit;
	background: url('../icons/arrow_up.png') bottom center no-repeat;
}

/* breadcrumbs */
#crumbs {
	float: left;
	margin: 0 10%;
	padding: 0.1em 0.5em;
	background-color: #eeeeee;
	color: #3f4c6b;
	border: 2px solid #4096ee;
	border-top: none;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
#crumbs .here { color: #356aa0; font-weight: bold; }
#crumbs a { color: inherit; font-weight: inherit; background: inherit; }
#crumbs a:hover { text-decoration: underline; }

/* messages */
#messages {
	clear: both;
	width: 400px;
	margin: 0 20%;
	padding: 0.5em;
	background: #fff6bf;
	color: #514721;
	border: 1px solid #ffd324;
}
#messages p {
	padding-left:19px;
	background:url('../icons/accept.png') 0 0 no-repeat;
}

/* Page content */
#content {
	clear: both;
	width: 860px;
	margin: 0 auto;
	padding: 0.3em;
}
#content p { margin: 0.6em 0 0 0; line-height: 1.5; text-align: justify; }

#content ul { list-style: disc; }
#content ul, #content li {
	margin: 0 0.5em;
	padding: 0.2em 0.5em;
}

/* Login form */
#login {
	padding-left: 100px;
}
#login, #login input {
	font-size: 1.2em;
}

/* Home page, 3 columns */
#actu, #events, #clubs {
	float: left;
}
#actu {
	width: 30%;
	margin: 0 5%;
}
#events, #clubs {
	width: 25%;
}
#events {
	background-color: #dfe1d6;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	padding: 0 0.5em;
}
#events h2 { color: #7f875b; }
#events ul {
	padding: 0 10px;
	list-style: none;
	margin: 0; padding: 0;
}
#events li {
	border-top: 1px solid #eff1e6;
	border-bottom: 1px solid #cfd1c6;
}
#events li:last-child { border-bottom: none; }
#events li:first-child { border-top: none; }
#events a:hover { background-color: #dfe1d6; color: #4381da; }

/* Comments */
#commentform {
	width: 40%;
	position: fixed;
	top: 150px;
	right: 5%;
}
#comments {
	width: 440px;
}
.comment {
	padding: 0.3em 0;
	border-bottom: 1px solid #ccc;
}
.comment:last-child { border: none; }
.comment .meta { color: #777; }

/* Generic classes */
.date { color: #aaa; margin-left: 0.6em; }
.addlink { padding-left:12px; background:url(/static/icon_addlink.gif) 0 .2em no-repeat; }
.vcard { padding-left:18px; background:url(../icons/vcard.png) 0 0 no-repeat; }
.private { padding-left:18px; background:url(../icons/lock.png) 0 5px no-repeat; }

.article {
	width: 50%;
	margin-bottom: 1em;
}
.align-right { text-align: right; }
.notice {
	font-weight: bold;
	background-color: #ffffcc;
	color: #cc0000;
	padding: 1em;
	border-top: 1px solid #ffff88;
	border-bottom: 1px solid #ffff88;
}

.errorlist {
	color: #cc0000;
}
ul.errorlist {
	list-style-type: none;
	padding: 0; margin: 0;
}

.margin { margin: 0.3em; }

.action {
	width: 300px;
	margin: 5px 0;
}
.action a {
	display: block;
	padding: 1em 30px;
	border: 1px solid #ddd;
}
#id_honeypot { display: none; }

/* User profile */
.picture img {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ddd;
}
.bio { border: 1px solid #ddd; font-size: 1.2em; color: #555; padding: 0 5px; }
.address { background:url('../icons/house.png') 0 0 no-repeat; }
.calendar { max-width: 110px; background:url('../icons/calendar_day.png') 0 0 no-repeat; }
.mobile { background:url('../icons/phone.png') 0 0 no-repeat; }
.phone { background:url('../icons/phone.jpg') 0 0 no-repeat; }
.email { background:url('../icons/email.png') 0 0 no-repeat; }
.website { background:url('../icons/world.png') 0 0 no-repeat; }
.linkedin { background:url('../icons/linkedin.png') 0 0 no-repeat; }
.facebook { background:url('../icons/facebook.png') 0 0 no-repeat; }
.twitter { background:url('../icons/twitter.png') 0 0 no-repeat; }
.openid { background:url('../icons/openid.png') 0 0 no-repeat; }
.msn { background:url('../icons/msn.png') 0 0 no-repeat; }
.address, .calendar, .mobile, .phone, .email, .website, .linkedin, .facebook, .twitter, .openid, .msn {
	padding: 2px 0 0 18px;
}

a.mail { color: #63a1fa; }
a.mail:hover { color: #4381da; background-color: inherit; }

/* Search form */
form#searchform input { float: left; }

/* Footer */
#footer {
	border-top: 1px solid #555;
	padding: 2em 0;
	text-align: center;
	color: #aaa;
	clear: both;
	background-color: #1d2a5b;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	background: inherit;
	text-decoration: underline;
}
