/* Common html tags */
html {
	margin: 0;
	padding: 0;
	background-color: #efeeee;
}

body {
	padding: 1em;
	width: 860px;
	margin: 1em auto;
	background-color: #fff;
	border: 1px solid #22c;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 0.95em;
	font-family: Georgia, Arial, sans-serif;
}

/* help text */
form td {
	font-size: 0.8em;
	color: #aaa;
}

ul, li, p, h2 {
	margin: 0;
	padding: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #2361ba;
}

a:hover {
	background-color: #2361ba;
	color: #fff;
}

.center { text-align: center; }
p.right { float: right; }

tr {
	text-align: left;
	vertical-align: top;
}

blockquote {
	margin: 10px 15px;
	padding: 0 0 0 25px;
	font: bold 1.3em/1.5em "Trebuchet MS", Tahoma, arial, Sans-serif;
	color: #2361ba;
	border: 1px solid #E5F0FB;
	background-color: #F4F8FD;
}

ul { list-style-type: none; }

/* Header */
#header { float: left; }
h1 {
	font: Bold 45px 'Trebuchet MS', Helvetica, sans-serif;
	letter-spacing: -2px;
	margin: 0;
}

h1 a { color: #000; }
h1 a:hover { background-color: #fff; color: #000; }

.logo { color: #66f; }
.beta { color: #f22; font-size: 0.3em; margin-left: 0.5em; font-weight: normal;  letter-spacing: -1px; }

.sub {
	color: #888;
	margin: 0 4em;
	padding: 0;
	font-size: 0.8em;
}

#connect {
	float: right;
	margin-bottom: 2em;
	padding: 0.3em 0.6em;
	background-color: #6bba70;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #fff;
}
#connect a { color: #fff; padding: 0.3em; }
#connect a:hover { color: #fff; background-color: #7bca80; }

/* Navigation menu */
#navbar {
	clear: right;
	background-color: #2361ba;
	text-align: right;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	float: right;
	padding: 0 1em;
	margin-bottom: 0.5em;
}
#navbar a {
	color: #fff;
	padding: 0.5em 0.2em;
}
#navbar a:hover { background-color: #4381da; }
#navbar li {
	float: left;
	padding: 0.5em 0.2em;
}
#title {
	padding: 0.1em 0.5em;
	clear: both;
	background-color: #eeeeee;
	color: #3f4c6b;
	border-bottom: 2px solid #4096ee;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#title .here { color: #356aa0; font-weight: bold; }
#title a { color: inherit; font-weight: inherit; background: inherit; }
#title a:hover { text-decoration: underline; }

#messages {
	margin-top: 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 1em;
	color: #444;
	background-color: #f6f6f6;
}

/* Page content */
#content {
	width: 65%;
	float: left;
	padding: 0.3em;
}

#content ul { list-style: disc; }
#content ul, #content li {
	margin: 0 0.5em;
	padding: 0.2em 0.5em;
}

h2 { clear: both; padding-top: 0.5em; }
h2 a:hover { background: none; color: #b02b2c; }
h2 a { color: #b02b2c; }
.summary_even h2 a { color: #d15600; }

.date { color: #aaa; font-size: 0.9em; margin-left: 0.6em; }
.addlink { padding-left:12px; background:url(/static/icon_addlink.gif) 0 .2em no-repeat; }
.vcard { padding-left:18px; background:url(../icons/vcard.png) 0 0 no-repeat; }

.notice {
	font-weight: bold;
	background-color: #ffffcc;
	color: #cc0000;
	padding: 1em;
	border-top: 1px solid #ffff88;
	border-bottom: 1px solid #ffff88;
}

.errorlist {
	color: #cc0000;
	font-size: 0.8em;
}

.margin { margin: 0.3em; }

#content p { margin: 0.6em 0 0 0; line-height: 1.5; text-align: justify; }
.action {
	width: 300px;
	margin: 5px 0;
}
.action a {
	display: block;
	padding: 1em 30px;
	border: 1px solid #ddd;
}
#id_honeypot { display: none; }

/* User profile */
.picture img {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ddd;
}
.bio { border: 1px solid #ddd; font-size: 1.2em; color: #555; padding: 0 5px; }
.address { padding-left:18px; background:url('../icons/house.png') 0 0 no-repeat; }
.calendar { padding-left:18px; max-width: 110px; background:url('../icons/calendar_day.png') 0 0 no-repeat; }
.mobile { padding-left:18px; background:url('../icons/phone.png') 0 0 no-repeat; }
.phone { padding-left:18px; background:url('../icons/phone.jpg') 0 0 no-repeat; }
.email { padding-left:18px; background:url('../icons/email.png') 0 0 no-repeat; }
.website { padding-left:18px; background:url('../icons/world.png') 0 0 no-repeat; }
.linkedin { padding-left:18px; background:url('../icons/linkedin.png') 0 0 no-repeat; }
.facebook { padding-left:18px; background:url('../icons/facebook.png') 0 0 no-repeat; }
.twitter { padding-left:18px; background:url('../icons/twitter.png') 0 0 no-repeat; }
.openid { padding-left:18px; background:url('../icons/openid.png') 0 0 no-repeat; }
.msn { padding-left:18px; background:url('../icons/msn.png') 0 0 no-repeat; }

a.mail { color: #63a1fa; }
a.mail:hover { color: #4381da; background-color: inherit; }

/* Search form */
form#searchform input { float: left; }

/* Sidebar */
#sidebar {
	width: 27%;
	float: right;
	margin: 1em 0;
}
#sidebar a:hover { color: #cc0000; background-color: inherit; }
#sidebar ul {
	list-style-type: none;
	margin-left: 0.2em;
}
#sidebar li { padding: 0.2em; }

#user {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #f9f7ed;
	padding-bottom: 0.3em;
}

#user h3 {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	margin: 0;
	padding: 0.1em 0.8em;
	background-color: #356aa0;
	color: #fff;
}


/* Footer */
#footer {
	border-top: 2px dashed #eeeeee;
	margin-top: 1.5em;
	text-align: center;
	color: #aaa;
	clear: both;
}
