{% extends 'layout/base.html' %}
{% load markup webeleves_tags comments %}

{% block pagetitle %}
Accueil |
{% endblock %}

{% block title %}
» <span class="here">Actualités</span>
{% endblock %}

{% block content %}
{% for article in object_list %}
<div class="summary_{% cycle 'even' 'odd' %}">
	<h2><a href="{% url article article.slug %}">{{ article.title }}</a></h2>
	<p class="date">Posté par {{ article.author.get_full_name }} il y a {{ article.creation_date|timesince }}
	{% if user.is_authenticated %} - {% get_comment_count for article as comment_count %}{{ comment_count }} commentaire{{ comment_count|pluralize }}{% endif %}
	</p>
	{{ article.content|truncatewords:20|textile }}
	<p class="right"><a href="{% url article article.slug %}">Lire la suite</a></p>
</div>
{% endfor %}
{% if has_previous %}
{{ previous }}
{% endif %}
{% if has_next %}
{{ next }}
{% endif %}
{% endblock %}
