{% extends 'layout/base.html' %}

{% block pagetitle %}
Accueil |
{% endblock %}

{% block content %}
<div id="events">
	<!--
	<h2>Calendrier</h2>
	{% regroup events by date as event_list %}
	<ul>
		{% for event in event_list %}
		<li>
			<h3>{{ event.grouper|date:"l j F" }}</h3>
			{% for item in event.list %}
			<p>{{ item.time|time:"H:i" }} : {{ item }}</p>
			{% endfor %}
		</li>
		{% endfor %}
		<li><a class="calendar" href="">Suite</a></li>
	</ul>
	-->
</div>

<div id="actu">
	<h2>Actualité</h2>
	{% for article in articles %}
	{% include 'website/article_inclusion.html' %}
	{% endfor %}
</div>

<div id="clubs">
	<!--
	<h2>Clubs</h2>
	-->
</div>
<div class="clear">&nbsp;</div>
{% endblock %}
