<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<title>{% block pagetitle %}{% endblock %}Webeleves • Le site des élèves de l'école des Mines de Saint-Étienne</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
		<link rel="shortcut icon" href="/static/favicon.png" />
	</head>
	<body>
		<div id="header">
			<h1><a href="{% url home %}">Web<span class="logo">eleves</span><span class="beta">Beta</span></a></h1>
			<p class="sub">Le site des élèves de l'école des Mines de Saint-Étienne</p>
		</div>
		<div id="connect">
			{% if user.is_authenticated %}
			{{ user.get_full_name }} <b>»</b> <a href="{% url logout %}">Logout</a>
			{% else %}
			Visiteur <b>»</b> <a href="{% url login %}">Login</a>
			{% endif %}
		</div>
		<div id="navbar">
			<ul>
				<li><a href="{% url home %}">Accueil</a></li>
				<li><a href="{% url trombi %}">Trombi</a></li>
				{% if user.is_staff %}
				<li><a href="/admin/">Admin</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="title"><span>
				<a href="{% url home %}">Accueil</a> {% block title %}{% endblock %}</span>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="sidebar">
			{% include "layout/sidebar.html" %}
		</div>
		<div id="footer">
			<p>Webeleves™</p>
	</body>
</html>
